<% provide(:title, 'Login') %>
<% provide(:header, 'Ingresa a la aplicación') %>

<div id="login-form">
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :mail %>
      <%= f.text_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :contraseña %>
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.submit 'Login' %>
    </div>
  <% end %>
  <p>
    ¿No tienes cuenta aún? Registrate <%= link_to "aqui", "#my-modal", class: "modal-trigger", "data-modal" => "registration-modal" %>.
  </p>
</div>

<div class="registration-modal modal">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <div class="close-modal">&#10006;</div>
      <h2> Registro: </h2>
    </div>
    <div class="modal-body">
      <%= render 'users/form', user: @user, edit: false %>
    </div>
  </div>
</div>
