<% provide(:title, 'Login') %>
<% provide(:header, 'Ingresa a la aplicación') %>

<div id="login-form">
  <%= form_for :session, url: sessions_path do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.submit 'Login' %>
    </div>
  <% end %>
  <%= link_to 'Registrarse', new_user_path %>
</div>
