<%= provide(:title, 'Apuestas principales') %>
<%= provide(:header, 'Apuestas') %>

<%= form_tag('/make_up') do %>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Sport</th>
        <th>Start date</th>
        <th>Country</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @bets.each do |bet| %>
        <tr>
          <td><%= link_to bet.id, bet %></td>
          <td><%= bet.sport %></td>
          <td><%= bet.start_date %></td>
          <td><%= bet.country %></td>
          <td><%= link_to 'Eliminar', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= check_box_tag bet.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= submit_tag 'Confirmar seleccion' %></div>
<% end %>
