<%= provide(:title, 'Apuestas principales') %>
<%= provide(:header, 'Apuestas') %>

<%= form_tag('/make_up') do %>
<div><%= submit_tag 'Save' %></div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Sport</th>
        <th>Start date</th>
        <th>Country</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @bets.each do |bet| %>
        <tr>
          <td><%= bet.id %></td>
          <td><%= bet.sport %></td>
          <td><%= bet.start_date %></td>
          <td><%= bet.country %></td>
          <td><%= link_to 'Show', bet %></td>
          <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
          <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <!--<td><%= select_tag "competitors#{bet.id}", options_from_collection_for_select(bet.competitors, "id", "name")%></td>-->
          <td><%= check_box_tag bet.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= submit_tag 'Save' %></div>
<% end %>
