<%= simple_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.input_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :apellido %>
    <%= f.input_field :lastname %>
  </div>

  <div class="form-group">
    <%= f.label :nombre_de_usuario %>
    <%= f.input_field :username %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_nacimiento%>
    <%= f.input_field :birthday, start_year: Date.today.year - 100,
                                 end_year: Date.today.year %>
  </div>

  <div class="form-group">
    <%= f.label :descripcion %>
    <%= f.input_field :description %>
  </div>

  <div class="form-group">
    <%= f.label :mail %>
    <%= f.input_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %>
    <%= f.input_field :password, as: :password %>
  </div>

  <div class="form-group">
    <%= f.label :confirmacion_de_contraseña %>
    <%= f.input_field :password_confirmation, as: :password %>
  </div>

  <div class="btn">
    <%= f.submit %>
  </div>
<% end %>
