<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="error_notification">
  </div>

  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, required: !edit, minlength: 2, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label :apellido %>
    <%= f.text_field :lastname, required: !edit, minlength: 2, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label :nombre_de_usuario %>
    <%= f.text_field :username, required: !edit, minlength: 6, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_nacimiento%>
    <%= f.date_select :birthday, start_year: Date.today.year - 100,
                                 end_year: Date.today.year %>
  </div>

  <div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :mail %>
    <%= f.email_field :email, required: !edit, minlength: 6, maxlength: 254 %>
  </div>

  <div class="form-group">
    <%= f.label :confirmacion_de_mail %>
    <%= f.email_field :email_confirmation, required: !edit,
                                           minlength: 6,
                                           maxlength: 254 %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %>
    <%= f.password_field :password, required: !edit %>
  </div>

  <div class="form-group">
    <%= f.label :confirmacion_de_contraseña %>
    <%= f.password_field :password_confirmation, required: !edit, maxlength: 72 %>
  </div>

  <% if edit %>
    <div class="form-group">
      <%= f.label :contraseña_actual %>
      <%= f.password_field :actual_password, required: !edit %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Crear usuario'  if !edit %>
    <%= f.submit 'Editar usuario' if edit %>
  </div>
<% end %>
