<%= provide(:title, 'Editar usuario') %>
<%= provide(:header, 'Editar usuario') %>

<p>
  Deja vacio donde no quieras editar
</p>

<%= render 'form', user: @user, edit: true %>

<%= link_to 'Mostrar', @user %> |
<%= link_to 'Volver atras', user_path(@user) %>
