<%= provide(:title, 'Usuarios') %>
<%= provide(:header, 'Usuarios') %>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo usuario', new_user_path %>
