<%= provide(:title, 'Usuario') %>
<%= provide(:header, "#{@user.username}") %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name + " " + @user.lastname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver atras', users_path %> |
<%= link_to 'MeesBets', user_user_bets_path(@user) %>

<p>
  <% unless @bets.empty? %>
    <strong> Bets: </strong>
    <% @bets.each do |bet| %>
      <div class="bets">
        <p> name: <%= bet.name %></p>
        <p> oponnent: <%= bet.user.name %></p>
        <p> amount: <%= bet.gambler_amount %></p>
      </div>
    <% end %>
  <% end %>
</p>
