<%= provide(:title, 'Usuario') %>
<%= provide(:header, "#{@user.username}") %>

<div class="pull-right">
  <% if @user == current_user %>
    <%= link_to 'Editar', edit_user_path(@user), class: 'btn-primary' %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to 'Eliminar', @user, method: :delete, class: 'btn-primary', data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<div class="user-profile-info">
  <table>
    <tr>
      <td colspan="2">
        <%= image_tag @user.avatar.url(:thumb) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Nombre:</strong>
      </td>
      <td>
        <%= @user.name + " " + @user.lastname %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Rol:</strong>
      </td>
      <td>
        <%= @user.role %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Fecha de nacimiento:</strong>
      </td>
      <td>
        <%= @user.birthday %>
      </td>
    </tr>
    <% if current_user == @user %>
    <tr>
      <td>
        <strong>dinerin:</strong>
      </td>
      <td>
        <%= @user.money %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= @user.description %>
      </td>
    </tr>
  </table>
</div>

<div class="user-profile-bets">
  <% unless @bets.empty? %>
    <strong> Bets: </strong>
    <% @bets.each do |bet| %>
      <div class="bets">
        <p> nombre: <%= bet.name %></p>
        <p> oponente: <%= bet.user.name %></p>
        <p> monto apostado: <%= bet.gambler_amount %></p>
      </div>
    <% end %>
  <% end %>
</div>
