<%= provide(:title, 'Usuario') %>
<%= provide(:header, "#{@user.username}") %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name + " " + @user.lastname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>
<hr />

<p>
  <% unless @bets.empty? %>
    <strong> Bets: </strong>
    <div class="bets">
      <% @bets.each do |bet| %>
        <p> name: <%= bet.name %></p>
        <p> oponnent: <%= bet.user.name %></p>
        <p> amount: <%= bet.gambler_amount %></p>
      <% end %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
