<% provide(:title, 'Solicitudes de amistad') %>
<% provide(:header, 'Lista de solicitudes') %>

<div class="tab">
  <button class="tablinks active" data-tab="friends-index">Amigos</button>
  <button class="tablinks" data-tab="friend-requests">Solicitudes</button>
</div>

<div class='friends friend-requests tab-content'>
  <table>
    <tr>
      <td><strong> Nombre de usuario </strong></td>
      <td></td>
      <td></td>
    </tr>
    <% @requests.each do |cd| %>
      <tr>
        <td> <%= cd.username %> </td>
        <td> <%= button_to 'Aceptar', friends_accept_follow_path, params: { user_id: cd.id, accepted: false } %> </td>
        <td> <%= button_to 'Rechazar', friends_accept_follow_path, params: { user_id: cd.id, accepted: false } %> </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="friends friends-index tab-content">
  <%= form_tag(friends_follow_path, method: "POST") do %>
      <%= text_field_tag :followed_username, nil, placeholder: 'nombre de usuario', required: true  %>
      <%= submit_tag("Enviar solicitud") %>
  <% end %>

  <% unless current_user.following.empty? %>
    <div class="follow-table">
      <table>
        <% current_user.following.each do |followed|%>
          <tr>
            <td><%= image_tag followed.avatar.url(:thumb) %></td>
            <td><%= followed.username %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
