<%= form_for [current_user, user_bet] do |f| %>
  <% if user_bet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(user_bet.errors.count, "error") %>
        prohibited this user_bet from being saved:
      </h2>
      <ul>
      <% user_bet.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, required: true, minlength: 7; %>
  </div>

  <div class="form-group">
    <%= f.label :descripción %>
    <%= f.text_area :description, maxlength: 300; %>
  </div>

  <div class="form-group">
    <%= f.label :apuesta_desafiada %>
    <%= f.number_field :challenger_amount, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :apuesta_pedida %>
    <%= f.number_field :gambler_amount, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :apuestas_maximas %>
    <%= f.number_field :bet_limit, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_inicio %>
    <%= f.datetime_select :start_date, as: :datetime %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_termino %>
    <%= f.datetime_select :end_date, as: :datetime %>
  </div>

  <div class="form-group">
    <%= f.submit 'Crear MeesBet' %>
  </div>
<% end %>
