<%= simple_form_for user_bet do |f| %>
  <% if user_bet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(user_bet.errors.count, "error") %>
        prohibited this user_bet from being saved:
      </h2>
      <ul>
      <% user_bet.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.input_field :name %>
  </div>

  <% unless users.nil? %>
    <div class="form-group">
      <%= f.label :user %>
      <%= f.input_field :user_id, collection: users, label_method: :username, value_method: :id  %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :descripción %>
    <%= f.input_field :description %>
  </div>

  <div class="form-group">
    <%= f.label :apuesta_desafiada %>
    <%= f.input_field :challenger_amount %>
  </div>

  <div class="form-group">
    <%= f.label :apuesta_pedida %>
    <%= f.input_field :gambler_amount %>
  </div>

  <div class="form-group">
    <%= f.label :apuestas_maximas %>
    <%= f.input_field :bet_limit %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_inicio %>
    <%= f.input_field :start_date %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_de_termino %>
    <%= f.input_field :end_date %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>

<% end %>
