<%= provide(:title, 'MrMeesBet') %>
<%= provide(:header, "#{@user_bet.name}") %>

<div class="pull-right">
  <% if @user == current_user %>
    <% if @user_bet.checked %>
      <%= form_tag invite_user_user_bet_path(@user, @user_bet), class: 'invite-form' do %>
        <%= select_tag :friend, options_from_collection_for_select(current_user.following, :id, :username) %>
        <%= submit_tag 'invitar' %>
      <% end %>
    <% end %>
    <%= link_to "Mis MeesBets", user_user_bets_path(@user), class: 'btn-primary' %>
    <%= link_to 'Eliminar', user_user_bet_path(@user, @user_bet ), method: :delete, class: 'btn-primary danger', data: { confirm: 'Are you sure?' } %>
  <% elsif current_user.admin? %>
    <%= link_to 'Eliminar', user_user_bet_path(@user, @user_bet ), method: :delete, class: 'btn-primary danger', data: { confirm: 'Are you sure?' } %>
    <%= link_to "MeesBets de #{@user.username}", user_user_bets_path(@user), class: 'btn-primary' %>
  <% end %>
</div>

<div class="meesbet-show">
  <%= render 'pages/bet_show', bet: @user_bet, return_path: '/bet_list', button_name: 'Aceptar apuesta', assignation: 4 %>
</div>
