<!DOCTYPE html>
<html>
  <head>

    <%= render 'layouts/head' %>

  <body>

      <%= render 'layouts/header' %>

      <% flash.each do |key, value| %>
        <div id="<%= key %>"><%= value %></div>
      <% end %>
      <div class='jumbotron'>
        <h2><%= yield(:header) %></h2>
        <hr />
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
