<!DOCTYPE html>
<html>
  <head>

    <%= render 'layouts/head' %>

  <body>

      <%= render 'layouts/header' %>

      <div class='title-header'>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <h2 id="header"><%= yield(:header) %></h2>
      </div>

      <div class='jumbotron'>
        <hr />
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
