<!DOCTYPE html>
<html>
  <head>

    <%= render 'layouts/head' %>

  <body>

      <%= render 'layouts/header' %>

      <div class='jumbotron'>
        <h2><%= yield(:header) %></h2>
        <% flash.each do |key, value| %>
          <div id="<%= key %>"><%= value %></div>
        <% end %>
        <hr />
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
